@page "/"
@using QuizaDjuret.Client.Managers;
@using QuizaDjuret.Client.Services;
@using QuizaDjuret.Shared;
@inject QuizService quizService

@* HTML HÄR *@

@*<h1>@text</h1>*@

<head>
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Almarai&family=Bubblegum+Sans&family=Caveat&family=Cherry+Bomb+One&family=Gochi+Hand&family=Ysabeau+SC:wght@600;700&display=swap" rel="stylesheet">

</head>


@if(GameManager.Questions.Count == 0)
{
	<h1>LOADING...</h1>
}
else
{
	@if (GameManager.CurrentQuestionNumber == 0)
	{
		<style>
			body{
				background-image: url('../images/djur.jpg');
				background-size: cover;
			}
		</style>



			<div class="main-box">

            

			<h1 style="margin-bottom: 40px; margin-top: 30px;">Välkommen till QuizaDjuret</h1>
			<h2 style="margin-bottom: 45px;">Hur du spelar Quizet:</h2>
			<p>🏆 Rätt svar på första försöket ger: 100 poäng</p>
			<p>🏆 Rätt svar på andra försöket ger: 50 poäng</p>
			<p>🏆 Rätt svar på tredje försöket ger: 0 poäng</p>
			<p>🔍 Tryck på knappen "ledtråd" för att få en ledtråd till frågan</p>
			<p>🔍 Tryck på knappen "börja om" för att börja om quizet från början</p>


			<h3 style="margin: 40px;">Lycka till!! 🐛</h3>
	
	
		</div>
		<div class="start-btn-div">
			<button class="start-btn" @onclick="() => Click()">Starta Quizet</button>
			</div>
  
	}
	else

	{
		<style>
			body {
				background-image: url('../images/92.jpg');
				background-size: cover;
				
			}
		</style>

		

		<div class="main-box-frågor">

            <div class="rubrik-box">
				<div class="startaOm-div">
					<button style="font-family: 'Arial'; font-style:italic" class="startaOm-btn" @onclick="() => Restart()">« Starta om Quizet «</button>
                </div>
				<h1 style="margin-bottom: 15px; margin-top: 10px; font-size: 60px;">@GameManager.CurrentQuestion.Text</h1>

			</div>

			
			<div class="fråge-box">

				<div class="bild-column">
					@*<button class="test-btn">bilden</button>*@
					<img class="djur-img" src=@GameManager.CurrentQuestion.MediaURL>
				</div>
				<div class="fråge-column">
					@foreach(var answers in GameManager.CurrentQuestion.Answers.OrderBy(a => Guid.NewGuid()))
					{
						<p style="padding: 5px;" class="fråga" @onclick="() => ClickAnswer(answers.IsCorrect)">@answers.Text</p>
					}
@* 					<p style="padding: 5px;"class="fråga" @onclick="() => ClickAnswer(GameManager.CurrentQuestion.Answers[0].IsCorrect)">@GameManager.CurrentQuestion.Answers[0].Text</p>
					<p style="padding: 5px;" class="fråga" @onclick="() => ClickAnswer(GameManager.CurrentQuestion.Answers[1].IsCorrect)">@GameManager.CurrentQuestion.Answers[1].Text</p>
					<p style="padding: 5px;" class="fråga" @onclick="() => ClickAnswer(GameManager.CurrentQuestion.Answers[2].IsCorrect)">@GameManager.CurrentQuestion.Answers[2].Text</p> *@
					
					<button style="padding: 5px; border: none; background-color: transparent; /*font-family: Arial;*/ font-size: 20px; /*text-decoration: underline;*/ font-weight:lighter; color:BLACK; box-shadow: none; margin-top: 30px;" class="fråga" @onclick="() => ShowHint() ">★ Ledtråd ★</button>
					
						
				</div>
			</div>
			@if (IsHintVisible)
			{
				<p style="max-width: 840px; overflow-wrap:anywhere; align-content: center; padding: 20px;">@GameManager.CurrentQuestion.Hint</p>
			}
			


		@if (GameManager.isCorrectAnswer)
		{	
			<div class="funfact-div">
			<p style="font-size: 15px; font-family: Arial; color: saddlebrown;"class="funfact">
						★ @GameManager.CurrentQuestion.FunFact

			</p>
			</div>
			<div class="nästafråga-btn-div">
				<button class="nästa-btn" @onclick="() => Click()">Nästa fråga </button>
			</div>
		}

	
		</div>

	 
	}
	
}



@code
{

	private bool isStarted = false;

	private string text = "Hej på dig";

	public string loading = "Loading...";

	private int questionId = 1;

	private bool IsHintVisible = false;


	protected override async Task OnInitializedAsync()
	{
		GameManager.Questions = await quizService.GetAllAsync();
	}

	public void Click()
	{
		IsHintVisible = false;
		GameManager.isCorrectAnswer = false;
		GameManager.NextQuestion();
	}

	public void Restart()
	{
		IsHintVisible = false;
		GameManager.ResetQuiz();
	}

	public void ClickAnswer(bool isCorrect)
	{
		if (isCorrect)
		{
			IsHintVisible = false;
			GameManager.isCorrectAnswer = true;
		}
	}	

	private void ShowHint()
	{
		IsHintVisible = true;
	}
}

